{%extends "../base.html"%}
{%block baslik%}
detay
{%endblock%}
    {% block content %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <div class="post">
                <a href="{% url 'kayitduzenle' pk=kayit.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                       <h1>  
                        {{ kayit.adi }}
                        <br>
                        {{ kayit.soyadi }}
                       </h1>
                    <p>{{kayit.tcKimlikNo}}</p>
                    <p>{{kayit.cinsiyet}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endblock %}